/* 
    Created on : Jul 11, 2017, 2:28:34 PM
    Author     : Daniel Dias
*/
/* basic element rules */
body {
    font: 16px Arial, sans-serif;
}

h1 {
    font-size: 1.5em;
    border-top: 2px solid darkgreen;
    border-bottom: 2px solid darkgreen;
}

img {
    padding: 5px;
}

.play-container {
    display: inline-block;
    margin: 0 auto;
}
/* for some of the game headers */
.game-header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 5px;
}

/* formatting for the score box */
.score {
    border: 1px dashed darkgreen;
    background-color: lavender;
    padding: 10px;
    width: 75%;
}

/* formatting for the player and computer choice */
.choice {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

/* formatting for the rules Image */
#rulesImg {
    display: none;
    position: absolute;
    top: 0px;
}

#rulesImg img {
    width: 600px;
}

#rulesClose {
    display: none;
}

/* formatting for the Show Rules and Send Buttons */
.buttons {
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
    margin: 0 15px;
    font-size: 15px;
}

.buttons:hover {
    background-color: lightblue;
    color: white;
}